@import '../../../styles/settings.scss';

.root {
    padding: 4px;
    margin-top: $base-size;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: $primary-color;

    .myBox {
        margin: $base-size;
        text-align: center;
        label {
            padding: $base-size;
        }
        .buttonSubmit {
            color: $primary-color;
            border-color: $primary-color;
            margin: .5 * $base-size;
        }
    }
}